@p-color-primary: #1e87f0;

.color-sample {
  display: block;
  width: 100%;
  height: 3em;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.ral-wrapper {
  .ral-color {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 0;
    width: calc(100% / 7 - 3px);
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    outline: 1px solid white;

    &.selected {
      outline-color: black;
    }

    input {
      visibility: hidden;
    }
  }

  .ral-swatch {
    width: calc(100% / 4 - 3px);
    height: 50px;
  }
}

.pq-ral-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.p-background-danger {
  background-color: #ff8b8d;
}

.p-tooltip {
  display: inline-block;
  width: auto;
  padding: 0.2em 0.5em;
  background-color: #1e87f0;
  color: white !important;
  float: right;
  border-radius: 1em;

  &:hover {
    filter: brightness(1.2);
  }
}

// Theme overrides ----------------------------
.product-information {
  color: black !important;
}

.uk-open > .uk-accordion-title::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%223%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E")
}

.uk-accordion-title::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2233%22%20height%3D%223%22%20x%3D%220%22%20y%3D%225%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%223%22%20height%3D%2213%22%20x%3D%225%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E")
}
